<h1>Login</h1>
{{#if messages.error }}
<h1>{{ messages.error }}</h1>
{{/if}}
<form action="/login" method="POST">
    <div>
        <label for="username">Username</label>
        <input class="input-login" type="username" id="username" name="username" required>
    </div>
    <div>
        <label for="password">Password</label>
        <input class="input-login" type="password" id="password" name='password' required>
    </div>
    <button type='submit'>Login</button>
</form>